.banner .title-pal{
    width: 696px;
    height: 120px;
    margin: o auto;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 200%;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.06em;
    
    z-index: 5;
    color: #FFFFFF;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 600px;

    background: #28292f;
    background: url("../imagenes/img-berlin.png");
    background-blend-mode: overlay;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
}

.banner .banner-overlay{
    position: absolute;
    top: 0;
    left: 0;

    background-color: #23232652;
    height: 100%;
    width: 100%;
}
/* Botón */
.open-modal-btns{
    z-index: 10;
    margin: 30px;
    width: 20%;
    padding: 12px 24px;
    background-color:#078b21;
    border-radius: 10px;
    cursor: pointer;
  
}
.open-modal-btns button{
    z-index: 20;
    width: 100%;
    background-color: initial;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    /* background-color: aqua; */
}

.open-modal-btns:hover{
    background: rgb(11, 143, 51);
    background-color: #05ac05;
    color: white;
}