.main-portafolio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #8dee79;
    
}

.title-galery{
    width: 300px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: transparent !important;
}

.list-card{
    padding-bottom: 82px;
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center;

}

.list-card .list-boxcard{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 30px;
    background: #8dee79;
}

.list-card .list-boxcard .list-product{
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 368px;
    height: 404px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    cursor: pointer;
    border-radius: 5%;
    text-decoration: none;

}

.list-card .list-boxcard .list-product:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-product a{
    text-decoration: none;
}

.card-emergent{
    position: absolute;
    height: 300px;
    width: 367px;
    padding: 63px 24px;
    background: rgb(11, 143, 51, 0.9);
    transform: translateY(100%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-card .list-boxcard .list-product:hover .card-emergent{
    transform: translateY(-100%);
}


.card-animation{
    border-radius: 5%;
    width: 369px;
    height: 294px;
    position: relative;
    overflow: hidden;
}

.card-emergent p{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: white;
}

.list-product img{
    width: 368px;
    height: 294px;
    background: url(.jpg);
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.title-img-portafolio:hover{
    color: #1d8109;
}

.title-img-portafolio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    letter-spacing: 0.06em;
    color: #212121;
}

.parrafo-card{
    width: 322px;
    height: 36px;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
    letter-spacing: 0.03em;
    

    color: #757575;
}