
.open-modal-btn {
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 700;
  width: 11vw;
  height: 3vw;
  background-color: #078b21;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
}
.open-modal-btn:hover{
  background-color:  #004d00;
  color: white;
}
.modal-title{
  color:#078b21;
}

/* Fondo oscuro del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del modal */
.modal {

  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 350px;
  min-height: 400px;
  max-height: 90vh;
  display: block;
  text-align: center;
  position: relative;
  top: 0%;
  left: 0%;
  overflow-y: auto;
}

.modal label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.modal input[type="text"],
.modal input[type="password"] {
  width: 92%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #ddd;
  font-size: 16px;
  outline-color: #078b21;
  
}

.modal .checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #666;
  margin: 10px 0;
  
}

.modal .checkbox input {
  margin-right: 5px;
  cursor: pointer;
}

.modal button.login-btn {
  background-color: #078b21;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 2.5;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.div-register{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .register {
  
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  margin-top: 8%;
  color: #000;
  cursor: pointer;
}
.modal .register:hover {
  color: #078b21;
}

/* Botón para cerrar el modal */
.close-btn {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 25px;
  height: 25px;
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  align-items: center;
  justify-content: center;
}
.close-btn:hover{
  background: #078b21;
  color: white;
}