@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@700 & family= Roboto:wght@400;500;700;900 & display=swap');

*{
    margin: 0 auto;
    padding: 0;

}

body{
    margin: 0 auto;
    width: 100vw;
    font-family: 'roboto' 'Raleway';
    background: #fff;

}

                        /*    pie de pagina  1  */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 252px;
    background: #92b192;

}
.stylesvg{
    display: none;
}

.footer div{ 
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;

    margin-left: 2%;
    margin-right: 2%;
}

.footer div >address ul li{
    text-align: left;
}

.footer section ul{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.footer section ul li svg{
    background: #FFFFFF;
    gap: 10px;
}
.footer section ul li svg:hover{
    background: #0b8f33;
}


.link-webstudio-footer{
    margin-bottom: 9px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #0b8f33;
}

.link-webstudio-footer:hover {
    color: #0b8f33;
}

.piepag-direcion{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.03em;

    color: #FFFFFF;

}

.pie-pag-email-tel a:hover{
    color: #0b9534;
}

.pie-pag-email-tel .header-email{
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.pie-pag-email-tel .header-tel{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
                        
.footer h2{
    width: 150px;
    height: 16px;
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;


    color: #FFFFFF;
}

.redes-sociales{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    margin: 3%;
}

.redes-sociales > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.icon{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 10px;
    width: 40px;
    height: 40px;
    bottom: 0;
    border-radius: 50%;
    background-color: #2F303A;
    
}

.icon:hover{
    fill: #FFFFFF;
    background: #2196F3;
}

.icon use{
    fill: #AFB1B8;
}

.icon use:hover{ 
    fill:  #FFFFFF;;
    
    
}
                        /* section suscription*/
.suscription{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section__suscription{
    width: 40%;
    display: flex;
    flex-direction: column;

}

.section__suscription h2{
    width: 300px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.suscription__label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.suscription__input{
    width: 100%;
    height: 3.6em;
    border: 2px solid #5b605c4d;
    filter: drop-shadow(0px 10px 4px #00000026);
    border-radius: 4px;
    background: #40f978;
    padding: 0; 
} 

.section__suscription .suscription .suscription__label .suscription__input:hover,
.section__suscription .suscription .suscription__label .suscription__input:focus{
    border-color: #0b9534;
    background: #FFFFFF; 
    outline: none;
}

.suscription__button{
    width: 100%;
    height: 3.6em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 2px solid #ffffff4d;
    background: #E5E5E5;
    cursor: pointer;
    margin-bottom: 14px;
}
.section__suscription .suscription .suscription__label .suscription__button:hover ,
.section__suscription .suscription .suscription__label .suscription__button:focus{
    background: #0b9534;
}

.suscription__button span{
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #000000;
}

.section__suscription .suscription .suscription__label .suscription__button span:hover,
.section__suscription .suscription .suscription__label .suscription__button span:focus{
    color: #EEEEEE;
}

.section__suscription .suscription .suscription__label .suscription__icon:hover,
.section__suscription .suscription .suscription__label .suscription__icon:focus{
    fill: #0b9534;
}
@media (max-width: 600px){ 
    .redes-sociales {
        display: none;
    }
    .suscription__label{
    flex-direction: column;
    width: 14em;
    height: 4.5em;
    gap: 2vw;
    
}
}
                        /*portafolio*/

.body__portafolio{
    width: 100vw;
}

.box-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.box-body .header-portafolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100vw;
    margin: 0 auto;
    border-bottom: 1px solid #ECECEC;
    background-color: #FFFFFF;
}